<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fichario"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\FranciscoFlorentino\Visual Studio 2022\alura_windows_forms\CursoWindowsFormsBiblioteca\Databases\Fichario.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ByteBank"
            connectionString="Data Source=localhost,1438;Initial Catalog=ByteBank;Persist Security Info=True;User ID=sa;Password=ssExpress1823;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>